{% import "macros/modal.html" as modal %}

{#---------------------------------------
Set html content for the body:
---------------------------------------#}
{% set htmlBody %}
  <p>Bạn có chắc chắn muốn xóa bài tin này?</p>
{% endset %}

{#---------------------------------------
Set html content for the footer: 
---------------------------------------#}
{% set htmlFooter %}
  <button class="btn btn-outline-secondary" data-dismiss="modal" type="button">Bỏ qua</button>
  <button class="btn btn-danger" data-dismiss="modal" type="button">Xóa bài tin</button>
{% endset %}

{#---------------------------------------
Create the modal: 
---------------------------------------#}
{{ modal.return(
    id = "news-delete-confirmation",
    title = "Xác nhận",
    body = htmlBody,
    footer = htmlFooter
) }}

{# 
    size = "sm",
    closeButton = false
 #}