{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto mt-3 mt-lg-0">
            <a href="{{ paths.root }}/banks.html" class="btn btn-outline-secondary">
              Bỏ qua
            </a>
            <button class="btn btn-primary">
              Lưu thông tin
            </button>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <form>
          <div class="row">
            <div class="col-lg-8">
              <section class="card mb-3">
                <div class="card-header">
                  <div class="text-300 text-uppercase font-medium">Thông tin ngân hàng</div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Mã ngân hàng</label>
                    <input type="text" class="form-control" placeholder="Ví dụ: ICBV" value="VPBANK" />
                  </div>
                  <div class="form-group">
                    <label>Tên giao dịch</label>
                    <input type="text" class="form-control" placeholder="Ví dụ: Vietinbank" value="VP Bank" />
                    <div class="invalid-feedback">
                      Nhập tên giao dịch
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Tên đầy đủ</label>
                    <input type="text" class="form-control" placeholder="Ví dụ: Ngân Hàng TMCP Công Thương Việt Nam" value="Ngân hàng Việt Nam Thịnh Vượng" />
                  </div>
                  <div class="form-group">
                    <label>Màu chủ đạo</label>
                    <input type="text" class="form-control" placeholder="Ví dụ: #707bcc" value="#707bcc"/>
                  </div>
                  <div class="form-group">
                    <label>Trạng thái</label>
                    <div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="bank-active" name="bank-status" class="custom-control-input" checked>
                        <label class="custom-control-label" for="bank-active">Hoạt động</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="bank-inactive" name="bank-status" class="custom-control-input">
                        <label class="custom-control-label" for="bank-inactive">Ngừng hoạt động</label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-lg-4">
              <section class="card mb-3">
                <div class="card-header">
                  <div class="text-300 text-uppercase font-medium">Logo</div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="border rounded p-3 d-flex align-items-center justify-content-center" style="border-style:dashed !important; min-height:100px">
                      <div>
                        <img src="{{ paths.root + paths.images }}/banks/vpbank.png" class="img-fluid"/>
                      </div>
                    </div>
                  </div>
                  <div>
                    <label class="btn btn-sm btn-outline-secondary btn-block">
                        Chọn ảnh... <input type="file" hidden />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!-- end: main content of this page -->

  {% endblock %}

  {% block scripts %}
    <scripts></scripts>
  {% endblock %}