{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto mt-3 mt-lg-0">
            <a href="{{ paths.root }}/banks-add.html" class="btn btn-primary">
              Thêm ngân hàng
            </a>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <section class="card">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Danh sách ngân hàng</div>
          </div>
          <div class="card-body">
            <div>
              <form>
                <div class="form-row align-items-end">
                  <div class="col-lg-3 col-xl-3">
                    <div class="form-group">
                      <label>Trạng thái</label>
                      <select class="form-control">
                        <option>Tất cả</option>
                        <option value="1">Hoạt động</option>
                        <option value="2">Ngừng hoạt động</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-4">
                    <div class="form-group">
                      <label>Từ khóa</label>
                      <input type="text" class="form-control" placeholder="Mã hoặc tên ngân hàng..."/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-xl-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Tìm</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="table-responsive mt-4">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Mã NH</th>
                    <th scope="col">Tên giao dịch</th>
                    <th scope="col">Tên đầy đủ</th>
                    <th scope="col" width="90">Trạng thái</th>
                    <th scope="col" width="100">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in range(1, 15) %}
                    <tr>
                      <td>MSB</td>
                      <td>
                        <img src="{{ paths.root + paths.images }}/banks/msb.png" class="float-left mr-2" alt="" width="48" height="32" style="object-fit:contain">
                        <div class="text-nowrap">Maritimebank</div>
                      </td>
                      <td>Ngân hàng TMCP Hàng Hải Việt Nam</td>
                      <td><span class="badge badge-success">Hoạt động</span></td>
                      <td class="text-right">
                        <a href="{{ paths.root }}/banks-edit.html" class="btn btn-sm btn-outline-primary">
                          <i class="fa fa-edit"></i>
                        </a>
                        <button class="btn btn-sm btn-outline-danger ml-1" data-toggle="modal" data-target="#modal-banks-delete-confirmation">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% include "partials/components/pagination.html" %}
          </div>
        </section>
      </div>
    </div>
  </main>
  <!-- end: main content of this page -->

{% endblock %}

{% block modals %}
  {% include "partials/modals/banks-delete-confirmation.html" %}
{% endblock %}