{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="page-header container-fluid d-flex align-items-center position-relative">
      <h2 class="page-title my-3 mr-auto">Tổng quan</h2>
      <div>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      {# <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 mb-0 p-0">
          <li class="breadcrumb-item"><a href="index.html">Bracket</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> #}
    </div>

    <div class="contentpanel container-fluid position-relative py-3">

      <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="panel panel-success panel-stat">
            <div class="panel-heading">

              <div class="stat">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="{{ paths.root + paths.images }}/is-user.png" alt="">
                  </div>
                  <div class="col-xs-8">
                    <small class="stat-label">Visits Today</small>
                    <h1>900k+</h1>
                  </div>
                </div>
                <!-- row -->

                <div class="mb15"></div>

                <div class="row">
                  <div class="col-xs-6">
                    <small class="stat-label">Pages / Visit</small>
                    <h4>7.80</h4>
                  </div>

                  <div class="col-xs-6">
                    <small class="stat-label">% New Visits</small>
                    <h4>76.43%</h4>
                  </div>
                </div>
                <!-- row -->
              </div>
              <!-- stat -->

            </div>
            <!-- panel-heading -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-6 -->

        <div class="col-sm-6 col-md-3">
          <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

              <div class="stat">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="{{ paths.root + paths.images }}/is-document.png" alt="">
                  </div>
                  <div class="col-xs-8">
                    <small class="stat-label">% Unique Visitors</small>
                    <h1>54.40%</h1>
                  </div>
                </div>
                <!-- row -->

                <div class="mb15"></div>

                <small class="stat-label">Avg. Visit Duration</small>
                <h4>01:80:22</h4>

              </div>
              <!-- stat -->

            </div>
            <!-- panel-heading -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-6 -->

        <div class="col-sm-6 col-md-3">
          <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

              <div class="stat">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="{{ paths.root + paths.images }}/is-document.png" alt="">
                  </div>
                  <div class="col-xs-8">
                    <small class="stat-label">Page Views</small>
                    <h1>300k+</h1>
                  </div>
                </div>
                <!-- row -->

                <div class="mb15"></div>

                <small class="stat-label">% Bounce Rate</small>
                <h4>34.23%</h4>

              </div>
              <!-- stat -->

            </div>
            <!-- panel-heading -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-6 -->

        <div class="col-sm-6 col-md-3">
          <div class="panel panel-dark panel-stat">
            <div class="panel-heading">

              <div class="stat">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="{{ paths.root + paths.images }}/is-money.png" alt="">
                  </div>
                  <div class="col-xs-8">
                    <small class="stat-label">Today's Earnings</small>
                    <h1>$655</h1>
                  </div>
                </div>
                <!-- row -->

                <div class="mb15"></div>

                <div class="row">
                  <div class="col-xs-6">
                    <small class="stat-label">Last Week</small>
                    <h4>$32,322</h4>
                  </div>

                  <div class="col-xs-6">
                    <small class="stat-label">Last Month</small>
                    <h4>$503,000</h4>
                  </div>
                </div>
                <!-- row -->

              </div>
              <!-- stat -->

            </div>
            <!-- panel-heading -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-6 -->
      </div>
      <!-- row -->

    </div>
    <!-- contentpanel -->
  </main>
  <!-- end: main content of this page -->

{% endblock %}