{% extends 'layouts/modal.html' %}

{% block content %}
  <div class="container flex-grow-1">
    <div class="text-center u-marginVertical-3">
      <h2>Modals</h2>
    </div>
    <div class="row">
      {% for modal in modals | reverse %}
        <div class="col-sm-6 col-md-3 mb-3">
          <a href="modals.html#{{modal.id}}" title="{{modal.title}}" onclick="$('#modal-{{modal.id}}').modal();" class="card h-100">
            <div class="card-body px-3 py-4">
              <div class="text-300 text-body">{{modal.title}}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block modals %}
  {% for modal in modals %}
    {% include "partials/modals/" + modal.id + ".html" %}
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(window).on('load', function () {
      if (location.hash && location.hash.length) {
        var hash = decodeURIComponent(location.hash.substr(1));
        $('#modal-' + hash).modal();
      }
    });
  </script>
{% endblock %}