{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container-fluid">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto text-right mt-3 mt-lg-0">
            <!-- filter:-->
            <form>
              <div class="d-flex align-items-center">
                <div>Chọn ngày:</div>
                <div class="mx-2 mb-2 mb-lg-0">
                  <input type="text" class="form-control" id="reportrange" placeholder="Chọn ngày..." style="min-width:210px"/>
                </div>
                <div class=" mb-2 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-block">Xem</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <!-- Chart: -->
        <section class="card mb-3">
          <div class="card-body">
            <canvas id="chart-1" width="100" height="25"></canvas>
          </div>
        </section>

        <!-- List: -->
        <section class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-lg">
                <div class="text-300 text-uppercase font-medium">Danh sách</div>
              </div>
              <div class="col-lg-auto mt-3 mt-lg-0"></div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-right">
                <thead>
                  <tr>
                    <th scope="col" class="text-left" width="160">Offer</th>
                    <th scope="col" data-toggle="tooltip" title="Unique Clicks">Click</th>
                    <th scope="col" width="110">Conversions</th>
                    <th scope="col" data-toggle="tooltip" title="Conversions / Clicks">CVR</th>
                    <th scope="col" width="170">Success Conversions</th>
                    <th scope="col" data-toggle="tooltip" title="Success Conversions / Clicks">Success CVR</th>
                    <th scope="col">Pending Payout</th>
                    <th scope="col">Success Payout</th>
                    <th scope="col" data-toggle="tooltip" title="Success Payout / Clicks">eCPC</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in range(1, 8) %}
                    <tr>
                      <td class="text-nowrap text-left">
                        <a href="{{ paths.root }}/offers-detail.html" target="_blank" title="Xem offer này ở của sổ mới">watapy-oh-eh501</a>
                      </td>
                      <td class="text-nowrap">100</td>
                      <td class="text-nowrap">15</td>
                      <td class="text-nowrap">1,5%</td>
                      <td class="text-nowrap">0</td>
                      <td class="text-nowrap">0</td>
                      <td class="text-nowrap">0 ₫</td>
                      <td class="text-nowrap">0 ₫</td>
                      <td class="text-nowrap">0 ₫</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% include "partials/components/pagination.html" %}
          </div>
        </section>

      </div>
    </div>
  </main>
  <!-- end: main content of this page -->

{% endblock %}


{% block scripts %}
  <script>
    // Calendar:
    // =====================================

    $(function() {
      // Set default values to the last 7 days:
      var start = moment().startOf('month');
      var end = moment().endOf('month');

      // Show the content:
      function cb(start, end) {
          $('#reportrange').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
      }

      // Setup for picking dates:
      $('#reportrange').daterangepicker({
          startDate: start,
          endDate: end,
          opens: 'left',
          ranges: {
            'Hôm nay': [moment(), moment()],
            'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '7 ngày trước': [moment().subtract(6, 'days'), moment()],
            '30 ngày trước': [moment().subtract(29, 'days'), moment()],
            'Tháng này': [moment().startOf('month'), moment().endOf('month')],
            'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          locale: {
            format: 'DD/MM/YYYY'
          }
      }, cb);

      cb(start, end);
    });


// Bieu do
// =====================================

var chart1 = document.getElementById('chart-1').getContext('2d');
var chart = new Chart(chart1, {
  // The type of chart we want to create
  type: 'line',
  //fillColor: undefined,

  // The data for our dataset
  data: {
    labels: ['14-02', '15-02', '16-02', '17-02', '18-02', '19-02', '20-02'],
    datasets: [
      {
        label: 'Click',
        backgroundColor: '#ff6384',
        borderColor: '#ff6384',
        data: [22, 55, 22, 23, 70, 97, 84],
        fill: false
      },
      {
        label: 'Conversion',
        backgroundColor: '#4CC0C0',
        borderColor: '#4CC0C0',
        data: [20, 40, 3, 18, 12, 50, 66],
        fill: false
      },
      {
        label: 'Revenue (triệu đồng)',
        backgroundColor: '#5A4B7B',
        borderColor: '#5A4B7B',
        data: [0.4, 0.6, 2, 2, 2.5, 0.68, 0.2],
        fill: false
      }
    ]
  },

  // Configuration options go here
  options: {
    scales : {
      yAxes : [{
          ticks : {
              beginAtZero : true,
              //suggestedMax: 1000
          }   
      }]
    }
  }
});
  </script>
{% endblock %}