{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container-fluid">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto text-right mt-3 mt-lg-0">
            <!-- filter:-->
            <form>
              <div class="d-flex align-items-center">
                <div>Chọn ngày:</div>
                <div class="mx-2 mb-2 mb-lg-0">
                  <input type="text" class="form-control" id="reportrange" placeholder="Chọn ngày..." style="min-width:210px"/>
                </div>
                <div class=" mb-2 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-block">Xem</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <!-- Statistic: -->
        <div class="row text-white pb-3">
          <div class="col-md-6 col-lg-3 mb-3">
            <section class="card h-100" style="background: linear-gradient(110deg, #38C6A6 60%, #4EDCBC 60%);">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-12">
                    <div class="text-100">CLICKS</div>
                    <div class="text-500 font-bold mb-2">115</div>
                  </div>
                  <div class="col-6">
                    <div class="text-100">CVR</div>
                    <div class="text-500 font-bold">0.87%</div>
                  </div>
                  <div class="col-6">
                    <div class="text-100">TỈ LỆ CHỐT</div>
                    <div class="text-500 font-bold">98%</div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-md-6 col-lg-3 mb-3">
            <section class="card h-100" style="background: linear-gradient(110deg, #46BB3A 60%, #79CC75 60%);">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-12">
                    <div class="text-100">TẠM TÍNH</div>
                    <div class="text-500 font-bold mb-2">315.000 ₫</div>
                    <div class="text-100">CONVERSIONS</div>
                    <div class="text-500 font-bold">3</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <section class="card h-100" style="background: linear-gradient(110deg, #40A6EB 60%, #64B9F3 60%);">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-12">
                      <div class="text-100">CHỜ DUYỆT</div>
                      <div class="text-500 font-bold mb-2">200.000 ₫</div>
                      <div class="text-100">CONVERSIONS</div>
                      <div class="text-500 font-bold">1</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-3">
                <section class="card h-100" style="background: linear-gradient(110deg, #DE424E 60%, #E25B65 60%);">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-12">
                        <div class="text-100">HỦY</div>
                        <div class="text-500 font-bold mb-2">0 ₫</div>
                        <div class="text-100">CONVERSIONS</div>
                        <div class="text-500 font-bold">0</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- List: -->
              <section class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-lg">
                      <div class="text-300 text-uppercase font-medium">Conversions</div>
                    </div>
                    <div class="col-lg-auto mt-3 mt-lg-0"></div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Click</th>
                          <th scope="col">Created at</th>
                          <th scope="col">Mofiffied at</th>
                          <th scope="col">Offer</th>
                          <th scope="col">Product Quantity</th>
                          <th scope="col">Type</th>
                          <th scope="col">Payout</th>
                          <th scope="col">Status</th>
                          <th scope="col">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="4">&nbsp;</td>
                          <td scope="col">
                            <select class="form-control form-control-sm w-100">
                              <option value="0">Tất cả</option>
                              <option value="1342">rockman-vn</option>
                              <option value="2101">manhluckhang-vn</option>
                              <option value="1226">juicyslim-vn</option>
                            </select>
                          </td>
                          <td colspan="3">&nbsp;</td>
                          <td>
                            <select class="form-control form-control-sm w-100">
                              <option value="0">Tất cả</option>
                              <option value="1">Tạm tính</option>
                              <option value="2">Chờ duyệt</option>
                              <option value="3">Trùng đơn</option>
                              <option value="4">Hủy</option>
                            </select>
                          </td>
                          <td>&nbsp;</td>
                        </tr>
                        {% for item in range(1, 8) %}
                          <tr>
                            <td>001</td>
                            <td>2020-02-01 09:21:59</td>
                            <td>2020-02-01 09:25:59</td>
                            <td>2020-02-01 09:37:44</td>
                            <td>
                              <a href="{{ paths.root }}/offers-detail.html" target="_blank" title="Xem offer này ở của sổ mới">
                          manhluckhang-vn
                        </a>
                            </td>
                            <td>1</td>
                            <td>CPO</td>
                            <td>330.000 ₫</td>
                            <td>Tạm tính</td>
                            <td>
                              <a href="#" onclick="$('tr.report-item-detail').hide(); $(this).parent().parent().next().toggle(); return false;">Chi tiết</a>
                            </td>
                          </tr>
                          <!-- detail row: -->
                          <tr class="report-item-detail" style="display:none">
                            <td colspan="10" class="text-left bg-secondary">
                              <table class="table table-bordered bg-white mb-0">
                                <tbody>
                                  <tr>
                                    <td style="width:20%;" class="bold">#</td>
                                    <td>001</td>
                                  </tr>
                                  <tr>
                                    <td style="width:20%;" class="bold">Conversion ID</td>
                                    <td>AF2Qd3FQSjaUb4</td>
                                  </tr>
                                  <tr>
                                    <td style="width:20%;" class="bold">Product Quantity</td>
                                    <td>1</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Click Time</td>
                                    <td>2020-01-03 15:14:34                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Offer</td>
                                    <td>rockman-vn</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Browser Name</td>
                                    <td>chrome mobile</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Country</td>
                                    <td>VN</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Device OS</td>
                                    <td>android</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Device OS Version</td>
                                    <td>9.0</td>
                                  </tr>

                                  <tr>
                                    <td class="bold">Message</td>
                                    <td>Khách đồng ý mua hàng</td>
                                  </tr>
                                  <tr>
                                    <td class="bold">Customer phone</td>
                                    <td>09895725**</td>
                                  </tr>

                                </tbody>
                              </table>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  {% include "partials/components/pagination.html" %}
                </div>
              </section>

            </div>
          </div>
        </main>
        <!-- end: main content of this page -->

      {% endblock %}

      {% block scripts %}
        <script>
          // Calendar:
          // =====================================

          $(function () {
            // Set default values to the last 7 days:
            var start = moment().startOf('month');
            var end = moment().endOf('month');

            // Show the content:
            function cb(start, end) {
              $('#reportrange').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }

            // Setup for picking dates:
            $('#reportrange').daterangepicker({
              startDate: start,
              endDate: end,
              opens: 'left',
              ranges: {
                'Hôm nay': [
                  moment(), moment()
                ],
                'Hôm qua': [
                  moment().subtract(1, 'days'),
                  moment().subtract(1, 'days')
                ],
                '7 ngày trước': [
                  moment().subtract(6, 'days'),
                  moment()
                ],
                '30 ngày trước': [
                  moment().subtract(29, 'days'),
                  moment()
                ],
                'Tháng này': [
                  moment().startOf('month'), moment().endOf('month')
                ],
                'Tháng trước': [
                  moment()
                    .subtract(1, 'month')
                    .startOf('month'),
                  moment()
                    .subtract(1, 'month')
                    .endOf('month')
                ]
              },
              locale: {
                format: 'DD/MM/YYYY'
              }
            }, cb);

            cb(start, end);
          });
        </script>
      {% endblock %}