{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto text-right mt-3 mt-lg-0">
            <a href="{{ paths.root }}/offers-add.html" class="btn btn-primary">
              Tạo Offer
            </a>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <section class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-row align-items-end">
                <div class="col-lg-4 col-xl-4">
                  <div class="form-group mb-lg-0">
                    <label>Từ khóa</label>
                    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm"/>
                  </div>
                </div>
                <div class="col-lg-3 col-xl-3">
                  <div class="form-group mb-lg-0">
                    <label>Danh mục</label>
                    <select class="form-control">
                      <option>Tất cả</option>
                      <option value="1">Máy lọc nước</option>
                      <option value="6">Danh mục ABC</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-xl-2">
                  <div class="form-group mb-lg-0">
                    <button type="submit" class="btn btn-primary btn-block">Tìm</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        
        <section class="card">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Danh sách</div>
          </div>
          <div class="card-body">
            <div class="alert alert-warning" role="alert">
              Không tìm thấy kết quả nào phù hợp. Vui lòng thử lại!
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Giá chia sẻ</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in range(1, 15) %}
                    <tr>
                      <td width="64">
                        <a href="{{ paths.root }}/offers-detail.html">
                          <img src="{{ paths.root + paths.images }}/products/product-1.png" alt="" width="64" height="64" />
                        </a>
                      </td>
                      <td>
                        <div><a href="{{ paths.root }}/offers-detail.html">Máy Tạo Nước ION Kiềm Tươi OH- Model EH501</a></div>
                        <span class="badge badge-pill badge-danger">HOT</span>
                        <span class="badge badge-pill badge-warning">NEW</span>
                      </td>
                      <td>Máy lọc nước</td>
                      <td>
                        <span class="text-muted">1SP:</span> 62.000.000 ₫<br />
                        <span class="text-muted">2SP:</span> 30.200.000 ₫
                      </td>
                      <td class="text-right">
                        <!-- Chỉ hiện link sửa/xóa cho quản trị viên: -->
                        <a href="{{ paths.root }}/offers-edit.html" class="btn btn-outline-primary btn-sm" title=""><i class="fa fa-edit"></i></a>
                        <button class="btn btn-sm btn-outline-danger mr-2" data-toggle="modal" data-target="#modal-offers-delete-confirmation">
                          <i class="fa fa-trash"></i>
                        </button>
                        <a href="{{ paths.root }}/offers-detail.html" class="btn btn-primary btn-sm" title="">Lấy link</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% include "partials/components/pagination.html" %}
          </div>
        </section>

      </div>
    </div>
  </main>
  <!-- end: main content of this page -->

{% endblock %}

{% block modals %}
  {% include "partials/modals/offers-delete-confirmation.html" %}
{% endblock %}