{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container-fluid">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto text-right mt-3 mt-lg-0"></div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <section class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-row align-items-end">
                <div class="col-lg-3 col-xl-3">
                  <div class="form-group mb-lg-0">
                    <label>Quyền người dùng</label>
                    <select class="form-control">
                      <option>Tất cả</option>
                      <option value="1">Quản trị viên</option>
                      <option value="2">Công ty</option>
                      <option value="3">Trưởng Miền</option>
                      <option value="4">Đại lý Tỉnh/Quận</option>
                      <option value="7">Cửa hàng</option>
                      <option value="8">Quản trị CTV</option>
                      <option value="5">Cộng tác viên</option>
                      <option value="6">Khách hàng</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-xl-3">
                  <div class="form-group mb-lg-0">
                    <label>Từ khóa</label>
                    <input type="text" class="form-control" placeholder="Tên hoặc số điện thoại"/>
                  </div>
                </div>
                <div class="col-lg-2 col-xl-2">
                  <div class="form-group mb-lg-0">
                    <button type="submit" class="btn btn-primary btn-block">Tìm</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>

        <section class="card">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Danh sách thành viên</div>
          </div>
          <div class="card-body">
            <div class="alert alert-warning" role="alert">
              Không tìm thấy kết quả nào phù hợp. Vui lòng thử lại!
            </div>

            <!-- for desktop only: -->
            <div class="table-responsive d-none d-lg-block">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Tên người dùng</th>
                    <th scope="col">Số đơn</th>
                    <th scope="col">DT Quản lý</th>
                    <th scope="col">DT CTV</th>
                    <th scope="col">DT Quản trị CTV</th>
                    <th scope="col">DT Đại lý</th>
                    <th scope="col">DT Trưởng miền</th>
                    <th scope="col">Cashback</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="{{ paths.root }}/performance-detail.html" class="d-flex align-items-center" data-toggle="tooltip" title="Quản trị viên">
                        <img src="{{ paths.root + paths.images }}/photos/user1.png" class="user-avatar rounded-circle float-left mr-2" alt="" width="32" height="32">
                        <div>Admin</div>
                      </a>
                    </td>
                    <td>12</td>
                    <td>15.525.000đ</td>
                    <td>2.433.000đ</td>
                    <td>890.000đ</td>
                    <td>32.525.000đ</td>
                    <td>6.200.000đ</td>
                    <td>24.990.000đ</td>
                  </tr>
                  {% for item in range(1, 15) %}
                    <tr>
                      <td>
                        <a href="{{ paths.root }}/performance-detail.html" class="d-flex align-items-center" data-toggle="tooltip" title="Trưởng miền">
                          <img src="{{ paths.root + paths.images }}/photos/user3.png" class="user-avatar rounded-circle float-left mr-2" alt="" width="32" height="32">
                          <div>Lê Minh Hà</div>
                        </a>
                      </td>
                      <td>2</td>
                      <td>6.666.000đ</td>
                      <td>2.222.000đ</td>
                      <td>5.555.000đ</td>
                      <td>20.202.000đ</td>
                      <td>1.111.000đ</td>
                      <td>8.888.000đ</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% include "partials/components/pagination.html" %}
            </div>

            <!-- for mobile only: -->
            <div class="mt-3 d-lg-none">
              {% for item in range(1, 10) %}
              <!-- item: -->
              <div class="border-bottom py-3">
                <div class="d-flex flex-column align-items-center">
                  <img src="{{ paths.root + paths.images }}/photos/user1.png" class="user-avatar rounded-circle float-left mr-2" alt="" width="48" height="48">
                  <div class="mt-1"><a href="{{ paths.root }}/performance-detail.html">Lê Minh Hà</a></div>
                  <small class="mb-2 text-muted">Trưởng miền</small>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">Số đơn:</div>
                  <div>12</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">DT Quản lý:</div>
                  <div>15.525.000đ</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">DT CTV:</div>
                  <div>2.433.000đ</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">DT Quản trị CTV:</div>
                  <div>890.000đ</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">DT Đại lý:</div>
                  <div>32.525.000đ</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">DT Trưởng miền:</div>
                  <div>6.200.000đ</div>
                </div>
                <div class="d-flex justify-content-between py-1">
                  <div class="text-muted">Cashback:</div>
                  <div>24.990.000đ</div>
                </div>
              </div>
              <!-- item: -->
              {% endfor %}

              {% include "partials/components/pagination-mobile.html" %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <!-- end: main content of this page -->
{% endblock %}

{% block modals %}
  {% include "partials/modals/users-delete-confirmation.html" %}
{% endblock %}