{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container-fluid">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
            {# <div class="mt-1 text-black-50">Subtitle here...</div> #}
          </div>
          <div class="col-lg-auto mt-3 mt-lg-0">
            <!-- filter:-->
            <form>
              <div class="d-flex align-items-center">
                <div>Chọn ngày:</div>
                <div class="mx-2 mb-2 mb-lg-0">
                  <input type="text" class="form-control" id="reportrange" placeholder="Chọn ngày..." style="min-width:210px" />
                </div>
                <div class=" mb-2 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-block">Xem</button>
                </div>
              </div>
            </form>        
          </div>
        </div>
      </div>
      
      <div class="contentpanel position-relative px-lg-3 pb-4">

        <!-- Doanh thu cá nhân: -->
        <section class="card mb-3">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Doanh thu cá nhân</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <div class="d-flex mb-3">
                  <div class="text-700 font-medium">5.024.000 <span class="text-300">₫</span></div>
                  <div class="text-500 ml-auto">
                    <span class="badge badge-pill badge-primary"><i class="fa fa-long-arrow-up"></i> 23%</span>
                  </div>
                </div>
                <table class="table border text-muted">
                  <thead>
                    <tr>
                      <th>Nguồn</th>
                      <th class="text-right">Doanh thu</th>
                      <th class="text-right">Tăng trưởng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cashback</td>
                      <td class="text-right">4.440.000₫</td>
                      <td class="text-right">
                        <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 4.5%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Doanh thu quản lý CTV</td>
                      <td class="text-right">654.000₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 28%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-7">
                <div class="pl-lg-4 mt-4 mt-lg-0">
                  <canvas id="chart-1" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Doanh thu hệ thống: -->
        <section class="card mb-3">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Doanh thu hệ thống</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <div class="d-flex mb-3">
                  <div class="text-700 font-medium">124.766.000 <span class="text-300">₫</span></div>
                  <div class="text-400 ml-auto">
                    <span class="badge badge-pill badge-danger"><i class="fa fa-long-arrow-down"></i> 8%</span>
                  </div>
                </div>
                <table class="table border text-muted">
                  <thead>
                    <tr>
                      <th>Nguồn</th>
                      <th class="text-right">Doanh thu</th>
                      <th class="text-right">Tăng trưởng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Doanh thu miền</td>
                      <td class="text-right">18.654.000 ₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 4.5%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Doanh thu Đại lý</td>
                      <td class="text-right">29.540.000 ₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 28%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Doanh thu Cộng tác viên</td>
                      <td class="text-right">29.540.000 ₫</td>
                      <td class="text-right">
                        <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 2%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Doanh thu quản trị</td>
                      <td class="text-right">29.540.000 ₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 28%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-7">
                <div class="pl-lg-4 mt-4 mt-lg-0">
                  <canvas id="chart-2" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Doanh thu miền: -->
        <section class="card mb-3">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Doanh thu miền</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <div class="d-flex mb-3">
                  <div class="text-700 font-medium">45.024.000 <span class="text-300">₫</span></div>
                  <div class="text-500 ml-auto">
                    <span class="badge badge-pill badge-primary"><i class="fa fa-long-arrow-up"></i> 23%</span>
                  </div>
                </div>
                <table class="table border text-muted">
                  <thead>
                    <tr>
                      <th>Miền</th>
                      <th class="text-right">Doanh thu</th>
                      <th class="text-right">Tăng trưởng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bắc</td>
                      <td class="text-right">18.654.000 ₫</td>
                      <td class="text-right">
                        <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 4.5%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Trung</td>
                      <td class="text-right">29.540.000 ₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 28%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Nam</td>
                      <td class="text-right">29.540.000 ₫</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 28%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-7">
                <div class="pl-lg-4 mt-4 mt-lg-0">
                  <canvas id="chart-4" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="row">
          <!-- Đơn hàng: -->
          <div class="col-lg-6">
            <section class="card mb-3 h-100">
              <div class="card-header">
                <div class="text-300 text-uppercase font-medium">Đơn hàng</div>
              </div>
              <div class="card-body">
                <div class="d-flex mb-3">
                  <div class="text-1000 font-medium">86</div>
                  <div class="text-500 ml-auto">
                    <span class="badge badge-pill badge-primary"><i class="fa fa-long-arrow-up"></i> 15%</span>
                  </div>
                </div>
                <div class="mt-4 mt-lg-0">
                  <canvas id="chart-5" width="400" height="200"></canvas>
                </div>
              </div>
            </section>
          </div>
          
          <!-- Thành viên: -->
          <div class="col-lg-6">
            <section class="card mb-3 h-100">
              <div class="card-header">
                <div class="text-300 text-uppercase font-medium">Thành viên</div>
              </div>
              <div class="card-body">
                <div class="d-flex mb-3">
                  <div class="text-1000 font-medium">64</div>
                  <div class="text-500 ml-auto">
                    <span class="badge badge-pill badge-primary"><i class="fa fa-long-arrow-up"></i> 22%</span>
                  </div>
                </div>
                <table class="table border text-muted">
                  <thead>
                    <tr>
                      <th>Quyền</th>
                      <th>Số lượng</th>
                      <th class="text-right">Tăng trưởng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Quản trị viên</td>
                      <td>0</td>
                      <td class="text-right">
                        <span>0%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Công ty</td>
                      <td>4</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Trưởng Miền</td>
                      <td>6</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Đại lý Tỉnh/Quận</td>
                      <td>6</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Cửa hàng</td>
                      <td>6</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Quản trị CTV</td>
                      <td>1</td>
                      <td class="text-right">
                        <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 5%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Cộng tác viên</td>
                      <td>6</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Khách hàng</td>
                      <td>6</td>
                      <td class="text-right">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10%</span>
                      </td>
                    </tr>
                  </tbody>                
                </table>
              </div>
            </section>          
          </div>
        </div>

      </div>
    </div>
  </main>
  <!-- end: main content of this page -->

{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      var start = moment().startOf('month');
      var end = moment().endOf('month');

      function cb(start, end) {
          $('#reportrange').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
      }

      $('#reportrange').daterangepicker({
          startDate: start,
          endDate: end,
          opens: 'left',
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          locale: {
            format: 'DD/MM/YYYY'
          }
      }, cb);

      cb(start, end);
    });
  </script>
{% endblock %}