{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto mt-3 mt-lg-0"></div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-3">
              <div class="card-header text-300 text-uppercase font-medium">
                Chính sách hoa hồng
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
              </div>
            </div>

            <div class="card">
              <div class="card-header text-300 text-uppercase font-medium">
                Tiêu đề khối 2
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-header text-300 text-uppercase font-medium">
                Thông tin liên hệ
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                  <li>Hotline: 19001234</li>
                  <li>Email: support@watapy.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- end: main content of this page -->
{% endblock %}