{% extends 'layouts/default.html' %}

{% block content %}
  <!-- begin: main content of this page -->
  <main class="flex-grow-1">
    <div class="container">
      <div class="page-header position-relative pt-4 pb-5 px-lg-3">
        <div class="row align-items-center">
          <div class="col-lg">
            <h2 class="page-title m-0 text-500 font-medium">{{ page.title }}</h2>
          </div>
          <div class="col-lg-auto text-right mt-3 mt-lg-0">
            <a href="{{ paths.root }}/users-add.html" class="btn btn-primary">
              Thêm người dùng
            </a>
          </div>
        </div>
      </div>

      <div class="contentpanel position-relative px-lg-3 pb-4">
        <section class="card">
          <div class="card-header">
            <div class="text-300 text-uppercase font-medium">Danh sách người dùng</div>
          </div>
          <div class="card-body">
            <div>
              <form>
                <div class="form-row align-items-end">
                  <div class="col-lg-3 col-xl-3">
                    <div class="form-group">
                      <label>Quyền người dùng</label>
                      <select class="form-control">
                        <option>Tất cả</option>
                        <option value="1">Quản trị viên</option>
                        <option value="2">Công ty</option>
                        <option value="3">Trưởng Miền</option>
                        <option value="4">Đại lý Tỉnh/Quận</option>
                        <option value="7">Cửa hàng</option>
                        <option value="8">Quản trị CTV</option>
                        <option value="5">Cộng tác viên</option>
                        <option value="6">Khách hàng</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3 col-xl-3">
                    <div class="form-group">
                      <label>Trạng thái</label>
                      <select class="form-control">
                        <option>Tất cả</option>
                        <option value="1">Hoạt động</option>
                        <option value="2">Ngừng hoạt động</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-xl-4">
                    <div class="form-group">
                      <label>Từ khóa</label>
                      <input type="text" class="form-control" placeholder="Tên, số ĐT hoặc email..."/>
                    </div>
                  </div>
                  <div class="col-lg-2 col-xl-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Tìm</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="table-responsive mt-4">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Phân quyền</th>
                    <th scope="col">Tên người dùng</th>
                    <th scope="col">Điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ngày đăng ký</th>
                    <th scope="col" width="90">Trạng thái</th>
                    <th scope="col" width="160">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in range(1, 15) %}
                    <tr>
                      <td>Khách hàng</td>
                      <td>
                        <img src="{{ paths.root + paths.images }}/photos/user1.png" class="user-avatar rounded-circle float-left mr-2" alt="" width="32" height="32">
                        <div>Trần Minh Trí</div>
                      </td>
                      <td>0982997991</td>
                      <td>minhtri@gmail.com</td>
                      <td>28/11/2019</td>
                      <td><span class="badge badge-success">Hoạt động</span></td>
                      <td class="text-right">
                        <a href="{{ paths.root }}/users-edit.html" class="btn btn-sm btn-outline-primary">
                          <i class="fa fa-edit"></i> Sửa
                        </a>
                        <button class="btn btn-sm btn-outline-danger ml-1" data-toggle="modal" data-target="#modal-users-delete-confirmation">
                          <i class="fa fa-trash"></i> Xóa
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% include "partials/components/pagination.html" %}
          </div>
        </section>
      </div>
    </div>
  </main>
  <!-- end: main content of this page -->
{% endblock %}

{% block modals %}
  {% include "partials/modals/users-delete-confirmation.html" %}
{% endblock %}