/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  //background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-thumb:vertical {
  -webkit-border-radius: 3px;
}

*:focus {
  outline: none !important;
}

html,
body,
.page {
  min-height: 100vh;
}

body {
  
}

body.notfound,
body.signin {
  background: $body-bg;
}

a:focus,
a:active {
  outline: none;
}

#status {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  font-size: 32px;
}