/********** 2. RESET STYLES **********/
/*************************************/
html,
body,
.page {
  min-height: 100vh;
}

html {
  font-size: $font-size-root;
}

body {
  background: $main-bg-color;
  color: $main-text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body.notfound,body.signin {
  background: $sub-bg-color;
}

input,select,textarea {
  font-family: $font-family-base;
  color: $main-text-color;
}

a:focus, a:active {
  outline: none;
}

h1,h2,h3,h4,h5 {
  font-family: $font-family-base;
}

strong {
  font-weight: $font-weight-bold;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $sub-bg-color; 
  z-index: 10000; 
}

#status {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%; 
  top: 50%;
  margin: -15px 0 0 -15px;
  font-size: 32px;
}