/********** 11. LEFT PANEL COLLAPSED **********/
/**********************************************/

.leftpanel-collapsed {
  .leftpanel {
    width: 50px;
  }
  .logo {
    display: none;
  }
  .menutoggle {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .leftpanelinner {
    padding: 0;
    .sidebar-title {
      display: none;
    }
  }
}

.leftpanel-collapsed .nav-bracket {
  margin: 5px;
  li a {
    text-align: center;
    @include border-radius(2px);
    padding: 10px;
    position: relative;
    height: 40px;
    i {
      margin-right: 0;
      font-size: $font-size-large;
    }
  }
  > li > a:hover {
    @include border-radius(2px 0 0 2px);
  }
  > li > a > span:last-child {
    position: fixed;
    background: #ffffff;
    padding: .5rem 1rem;
    left: 45px;
    height: 40px;
    min-width: 200px;
    text-align: left;
    z-index: 100;
    display: none;
    @include box-shadow(0 3px 0, rgba(12,12,12,0.03));
    @include border-radius(0 2px 2px 0);
  }
  > li > a .badge {
    display: none;
  }
  > li.nav-parent > a {
    background-image: none;
  }
  > li.active > a > span:last-child {
    @include border-radius(0 2px 0 0);
  }
  ul {
    display: none;
    a {
      text-align: left;
      padding: .5rem 1rem;
    }
    a:hover {
      background: none;
    }
  }
  > li.nav-hover > a {
    background: #ffffff;
    color: $main-bg-color;
    > span:last-child {
      display: block;
    }
  }
  > li.nav-hover.active > a {
    background: $success-color;
    color: #ffffff;
    > span:last-child {
      background: $success-color;
      color: #ffffff;
    }
  }
  li.nav-hover ul {
    display: block;
    position: fixed;
    margin-top: 40px;
    left: 45px;
    margin: 0;
    min-width: 200px;
    background: $main-bg-color;
    z-index: 100;
    @include border-radius(0 0 2px 0);
  }
  .children {
    display: none;
  }
}

.leftpanel-collapsed {
  .mainpanel {
    margin-left: 50px;
  }
  .headerbar {
    left: 50px;
    .logo {
      display: block;
    }
  }
}

.leftpanel-collapsed .sidebar-infosummary {
  display: none;
}

// .leftpanel-collapsed .sticky-leftpanel {
//   overflow-y: visible;
// }



