
// Fonts

$font-family-sanserif:  "Roboto", Arial, sans-serif !default;
$font-family-serif:     "Georgia", serif !default;
$font-family-base:      $font-family-sanserif;

$font-size-base:        16px !default; // for html{...}
$font-size-body:        $font-size-base * 0.875 !default; // 14px for body{...}
$font-size-small:       $font-size-base * .75 !default; // 12px
$font-size-large:       $font-size-base * 1.125 !default; // 18px
$font-size-xlarge:       $font-size-base * 1.25 !default; // 20px

$line-height-base:      1.42857143; // ~20(px)

//$font-weight-light: 300;
$font-weight-regular:   400 !default;
$font-weight-medium:    500 !default;
$font-weight-bold:      700 !default;

// Colors

$main-bg-color:         #1d2939 !default;
$sub-bg-color:          #e4e7ea !default;

$main-text-color:       #444 !default;

$white-color:           #ffffff !default;

$primary-color:         #28a745 !default;
$primary-color-hover:   #218838 !default;

$success-color:         #1caf9a !default;
$success-color-hover:   #17a08c !default;

$warning-color:         #eea236 !default;
$warning-color-hover:   #f0ad4e !default;

$danger-color:          #d43f3a !default;
$danger-color-hover:    #d9534f !default;

$info-color:            #5bc0de !default;