// Fonts:
$font-family-sans-serif:      "Roboto", Arial, sans-serif;
$body-bg:                   #e9ecef;
$body-color:                #343a40;

// Colors:
$green:                     #28a745;
$primary:                     $green;

// Grid:
$grid-gutter-width:           20px;