{%- block header -%}
  <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light py-0 headerbar text-200">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a href="{{ paths.root }}" class="logo"><img src="{{ paths.root + paths.images }}/logo-original.png" srcset="{{ paths.root + paths.images }}/logo-original.png 1x, {{ paths.root + paths.images }}/logo-original@2x.png 2x" alt="Watapy"></a>

      <ul class="navbar-nav ml-auto">
        <!-- notifications: -->
        <li class="nav-item  d-flex align-items-center dropdown noti-item">
          <a class="nav-link align-items-center dropdown-toggle border-right text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <div class="position-relative mr-2">
              <i class="fa fa-bell fa-lg"></i>
              <span class="badge badge-danger position-absolute">4</span>
            </div>
            <span class="">Thông báo</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-200" aria-labelledby="navbarDropdown">
            <a class="dropdown-item d-flex" href="#">
              <div class=""><i class="fa fa-exchange"></i></div>
              <div class="flex-grow-1 pl-2">VPBANK tăng 1.500.000 VND</div>
              <div class="">14 giờ trước</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center" href="#">Xóa tất cả</a>
          </div>
        </li>
        <!-- profile: -->
        <li class="nav-item d-flex dropdown user-item">
          <a class="nav-link align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <img src="{{ paths.root + paths.images }}/photos/user1.png" class="user-avatar rounded-circle flex-shrink-0" alt="" width="32" height="32">
            <div class="flex-grow-1 mx-2">
              <div class="user-name text-dark">Phong Đỗ</div>
              <div class="user-group text-black-50">Quản trị viên</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-200">
            <a class="dropdown-item" href="profile.html">Thông tin cá nhân</a>
            <a class="dropdown-item" href="login.html">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {# <header class="header" role="banner">
    <div class="headerbar">
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-envelope"></i>
                <span class="badge">1</span>
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">You Have 1 New Message</h5>
                <ul class="dropdown-list gen-list">
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user1.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user2.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Nusja Nawancali</span>
                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user3.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Weno Carasbong</span>
                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user4.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Zaham Sindilmaca</span>
                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user5.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Veno Leongal</span>
                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">Read All Messages</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-globe"></i>
                <span class="badge">5</span>
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">You Have 5 New Notifications</h5>
                <ul class="dropdown-list gen-list">
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user4.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                        <span class="msg">is now following you</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user5.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                        <span class="msg">is now following you</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user3.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                        <span class="msg">likes your recent status</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user3.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                        <span class="msg">downloaded your work</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">
                      <span class="thumb"><img src="{{ paths.root + paths.images }}/photos/user3.png" alt=""></span>
                      <span class="desc">
                        <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                        <span class="msg">send you 2 messages</span>
                      </span>
                    </a>
                  </li>
                  <li class="new">
                    <a href="">See All Notifications</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="{{ paths.root + paths.images }}/photos/loggeduser.png" alt="">
                Phong Do
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li>
                  <a href="profile.html" class="dropdown-item">
                    <i class="glyphicon glyphicon-user"></i> Tài khoản</a>
                </li>
                <li>
                  <a href="signin.html" class="dropdown-item">
                    <i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- header-right -->
    </div>
    <!-- headerbar -->
  </header> #}
  <!-- /header -->

{%- endblock -%}