{%- block head -%}

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title if page.title else site.title }}</title>
  <meta name="description" content="{{ page.description if page.description else site.description }}" />
  <link rel="shortcut icon" type="image/png" href="{{ paths.root }}/favicon-16x16.png">

  <!-- third party css: -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=vietnamese" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
  {# 
  <link rel="stylesheet" href="{{ paths.root + paths.styles }}/select2.css?ver={{ version }}" />
   #}
  <!-- /third party css -->

  {%- for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ paths.root + paths.styles }}/{{ stylesheet }}.css?ver={{ version }}" />
  {% endfor -%}

{%- endblock -%}
