<div class="sidebar-infosummary">
  <div class="sidebar-title text-uppercase text-muted my-2">
    <small><strong>Thống kê tổng quát</strong></small>
  </div>
  <ul class="list-unstyled">
    <li>
      <div class="datainfo">
        <span class="text-muted">Label 1</span>
        <h4>630, 201</h4>
      </div>
      <div id="sidebar-chart1" class="chart">
        <canvas width="100" height="30" stroke-width="3" style="display: inline-block; height: 30px; vertical-align: top;"></canvas>
      </div>
    </li>
    <li>
      <div class="datainfo">
        <span class="text-muted">Label 2</span>
        <h4>1, 332, 801</h4>
      </div>
      <div id="sidebar-chart2" class="chart">
        <canvas width="59" height="30" style="display: inline-block; height: 30px; vertical-align: top;"></canvas>
      </div>
    </li>
    <li>
      <div class="datainfo">
        <span class="text-muted">Label 3</span>
        <h4>82.2%</h4>
      </div>
      <div id="sidebar-chart3" class="chart">
        <canvas width="59" height="30" style="display: inline-block; height: 30px; vertical-align: top;"></canvas>
      </div>
    </li>
    <li>
      <div class="datainfo">
        <span class="text-muted">Label 4</span>
        <h4>140.05 - 32</h4>
      </div>
      <div id="sidebar-chart4" class="chart">
        <canvas width="59" height="30" style="display: inline-block; height: 30px; vertical-align: top;"></canvas>
      </div>
    </li>
  </ul>
</div>
<!-- infosummary -->