/* line 1, src/styles/toggles.css */
.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr; }

/* line 12, src/styles/toggles.css */
.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob {
  float: left; }

/* line 15, src/styles/toggles.css */
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: grab;
  cursor: -webkit-grab; }

/* line 24, src/styles/toggles.css */
.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
  border-radius: 2px; }

/* line 38, src/styles/toggles.css */
.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob {
  float: left; }

/* line 41, src/styles/toggles.css */
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: grab;
  cursor: -webkit-grab; }

/*** THEMES ***/
/* line 52, src/styles/toggles.css */
.toggle-default .toggle-slide {
  border: 1px solid #ccc; }

/* line 56, src/styles/toggles.css */
.toggle-default .toggle-slide.active {
  border-color: #999; }

/* line 60, src/styles/toggles.css */
.toggle-default .toggle-slide .toggle-on,
.toggle-default .toggle-slide .toggle-off,
.toggle-default .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: 500; }

/* line 67, src/styles/toggles.css */
.toggle-default .toggle-slide .toggle-on,
.toggle-default .toggle-select .toggle-inner .active {
  background: #999;
  color: #fff; }

/* line 73, src/styles/toggles.css */
.toggle-default .toggle-slide .toggle-off,
.toggle-default .toggle-select .toggle-on {
  color: #666;
  background: #f7f7f7; }

/* line 79, src/styles/toggles.css */
.toggle-default .toggle-slide .toggle-blob {
  background: #fff;
  border-right: 1px solid #ccc; }

/* line 84, src/styles/toggles.css */
.toggle-default .toggle-slide.active .toggle-blob {
  border-left: 1px solid #999;
  border-right: 0; }

/* line 89, src/styles/toggles.css */
.toggle-default .toggle-slide .toggle-blob:hover {
  background: #fcfcfc; }

/* toggle primary */
/* line 95, src/styles/toggles.css */
.toggle-primary .toggle-slide {
  border: 1px solid #999; }

/* line 99, src/styles/toggles.css */
.toggle-primary .toggle-slide.active {
  border-color: #357EBD; }

/* line 103, src/styles/toggles.css */
.toggle-primary .toggle-slide .toggle-on,
.toggle-primary .toggle-slide .toggle-off,
.toggle-primary .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: 500; }

/* line 110, src/styles/toggles.css */
.toggle-primary .toggle-slide .toggle-on,
.toggle-primary .toggle-select .toggle-inner .active {
  background: #428BCA;
  color: #fff; }

/* line 116, src/styles/toggles.css */
.toggle-primary .toggle-slide .toggle-off,
.toggle-primary .toggle-select .toggle-on {
  color: #fff;
  background: #bbb; }

/* line 122, src/styles/toggles.css */
.toggle-primary .toggle-slide .toggle-blob {
  background: #fff;
  border-right: 1px solid #999; }

/* line 127, src/styles/toggles.css */
.toggle-primary .toggle-slide.active .toggle-blob {
  border-left: 1px solid #357EBD;
  border-right: 0; }

/* line 132, src/styles/toggles.css */
.toggle-primary .toggle-slide .toggle-blob:hover {
  background: #fcfcfc; }

/* toggle success */
/* line 138, src/styles/toggles.css */
.toggle-success .toggle-slide {
  border: 1px solid #999; }

/* line 142, src/styles/toggles.css */
.toggle-success .toggle-slide.active {
  border-color: #1CAF9A; }

/* line 146, src/styles/toggles.css */
.toggle-success .toggle-slide .toggle-on,
.toggle-success .toggle-slide .toggle-off,
.toggle-success .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: 500; }

/* line 153, src/styles/toggles.css */
.toggle-success .toggle-slide .toggle-on,
.toggle-success .toggle-select .toggle-inner .active {
  background: #1CAF9A;
  color: #fff; }

/* line 159, src/styles/toggles.css */
.toggle-success .toggle-slide .toggle-off,
.toggle-success .toggle-select .toggle-on {
  color: #fff;
  background: #bbb; }

/* line 165, src/styles/toggles.css */
.toggle-success .toggle-slide .toggle-blob {
  background: #fff;
  border-right: 1px solid #999; }

/* line 170, src/styles/toggles.css */
.toggle-success .toggle-slide.active .toggle-blob {
  border-left: 1px solid #4CAE4C;
  border-right: 0; }

/* line 175, src/styles/toggles.css */
.toggle-success .toggle-slide .toggle-blob:hover {
  background: #fcfcfc; }

/* toggle warning */
/* line 181, src/styles/toggles.css */
.toggle-warning .toggle-slide {
  border: 1px solid #999; }

/* line 185, src/styles/toggles.css */
.toggle-warning .toggle-slide.active {
  border-color: #EEA236; }

/* line 189, src/styles/toggles.css */
.toggle-warning .toggle-slide .toggle-on,
.toggle-warning .toggle-slide .toggle-off,
.toggle-warning .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: 500; }

/* line 196, src/styles/toggles.css */
.toggle-warning .toggle-slide .toggle-on,
.toggle-warning .toggle-select .toggle-inner .active {
  background: #F0AD4E;
  color: #fff; }

/* line 202, src/styles/toggles.css */
.toggle-warning .toggle-slide .toggle-off,
.toggle-warning .toggle-select .toggle-on {
  color: #fff;
  background: #bbb; }

/* line 208, src/styles/toggles.css */
.toggle-warning .toggle-slide .toggle-blob {
  background: #fff;
  border-right: 1px solid #999; }

/* line 213, src/styles/toggles.css */
.toggle-warning .toggle-slide.active .toggle-blob {
  border-left: 1px solid #EEA236;
  border-right: 0; }

/* line 218, src/styles/toggles.css */
.toggle-warning .toggle-slide .toggle-blob:hover {
  background: #fcfcfc; }

/* toggle danger */
/* line 224, src/styles/toggles.css */
.toggle-danger .toggle-slide {
  border: 1px solid #999; }

/* line 228, src/styles/toggles.css */
.toggle-danger .toggle-slide.active {
  border-color: #D43F3A; }

/* line 232, src/styles/toggles.css */
.toggle-danger .toggle-slide .toggle-on,
.toggle-danger .toggle-slide .toggle-off,
.toggle-danger .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: 500; }

/* line 239, src/styles/toggles.css */
.toggle-danger .toggle-slide .toggle-on,
.toggle-danger .toggle-select .toggle-inner .active {
  background: #D9534F;
  color: #fff; }

/* line 245, src/styles/toggles.css */
.toggle-danger .toggle-slide .toggle-off,
.toggle-danger .toggle-select .toggle-on {
  color: #fff;
  background: #bbb; }

/* line 251, src/styles/toggles.css */
.toggle-danger .toggle-slide .toggle-blob {
  background: #fff;
  border-right: 1px solid #999; }

/* line 256, src/styles/toggles.css */
.toggle-danger .toggle-slide.active .toggle-blob {
  border-left: 1px solid #D43F3A;
  border-right: 0; }

/* line 261, src/styles/toggles.css */
.toggle-danger .toggle-slide .toggle-blob:hover {
  background: #fcfcfc; }

/*# sourceMappingURL=toggles.css.map */
