<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body class="stickyheader">
    {# PAGE WRAPPER: --- #}
    <div class="page is-{{ page.id }}" id="top">
      {# HEADER --- #}
      {# {% include 'partials/header.html' %} #}

      <nav class="leftpanel sticky-leftpanel d-flex flex-column">
        {% include 'partials/sidebar.html' %}
      </nav>
      <div class="mainpanel">
        {% include 'partials/header.html' %}
        {% block content %}{% endblock %}
      </div>
      {# <aside class="rightpanel">
        Right...
      </aside> #}

      {# FOOTER: --- #}
      {# {% include 'partials/footer.html' %} #}
    </div>

    {# SCRIPTS: --- #}
    {% include 'partials/foot.html' %}
  </body>
</html>
